@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Electrolize&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lekton:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700&');


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}


*, *::before, *::after{
    box-sizing: border-box;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: whitesmoke;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}


h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}


/* Header */


header{
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    width: 100%;
    background-color: #f5f5f590;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


header > a {
    font-weight: 600;
    font-size: 1.5rem;
}


header ul{
    display: flex;
    gap: 20px;
}

header ul li a{
    transition: 0.2s ease-in;
}
header ul .navLI:hover a, header .languageBtn a:hover{
    color: #be75dd;
}

.currentLg{
    color: #be75dd;
    font-weight: bold;
}

.languageBtn {
    display: none;
}

.languageBtn a{
    padding: 5px 10px;
}

.languageBtn a:nth-child(1){
    border-right: 1px solid #be75dd;
}

header span{
    font-weight: bold;
    color: #be75dd;
}

header .fa-bars, header nav > i{
    display: none !important;
}

/* Main Content */

article{
    padding: 80px 10%;
}


#text-container {
    white-space: nowrap; /* Prevent line breaks within the text */
    overflow: hidden; /* Hide overflow text when deleting */
    height: 2.5rem; /* Set a fixed height that accommodates the text */
    color: #be75dd;
    font-size: 2rem;
}

/* First Article : Welcome */

.welcomeArticle{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 100vh;
}

.welcomeArticle h2{
    font-size: 3.5rem;
}

.welcomeArticle_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.welcomeArticle_text a {
    padding: 16px 32px;
    border-radius: 10px;
    background-color: #be75dd;
    color: white;
    width: fit-content;
}





.welcomeArticle figure{
    width: 40%;
    position: absolute;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Article Works */


.works{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.works > h1{
    font-weight: 500;
    text-align: center;
}

.works > img{
    width: 20%;
}

.ongoingProject{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 60px 5%;
    background-color: #202124;
    color: #ededed;
    border-radius: 15px;
    position: relative;
    
}

.onGoingText{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    width: 60%;
}

.onGoingText h1{
    font-size: 1rem;
    background-color: #be75dd;
    color: white;
    width: fit-content;
    padding: 0 10px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 0% 100%, 50% 70%, 100% 100%, 100% 0%);
    font-style: italic;
}


.onGoingText .languages{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 2rem;
}

.onGoingText .languages img{
    width: 30px;
}

.onGoingText h2{
    font-weight: 500;
}

.onGoingText h3{
    color: #999999;
    font-weight: 500;
    font-size: 1rem;
}

.onGoingText h3 a{
    color: #a2a2a2;
    text-decoration: underline;
}

.onGoingText p{
    line-height: 1.6;
}

.ongoingProject figure{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate3d(1, 1, 1, 45deg);
}

/* Project Library */

.projectsLibrary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}


.projectCell{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.projectCell figure .fa-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
    transition: 0.2s ease-in;
}

.projectCell:hover .fa-info{
    opacity: 1;
}


.projectCell figure{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 300px;
    width: 100%;
}


.projectCell:hover img{
    filter: brightness(0.2);
    
}

.onGoingText p{
    font-size: 1.1rem;
}
.projectCell p:nth-child(3){
    font-size: 0.8rem;
}



.projectCell figure img{
    height: 100%;
    transition: 0.2s ease-in;
}

/* About */

.about, .moreAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.about > img, .moreAbout > img{
    width: 20%;
}

.about_content{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}


.about_content figure{
    width: 45%;
    min-width: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.about_content .about_text{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.about_content figure img{
    height: 100%;
}


.about_content .about_text p{
    line-height: 1.6;
    font-family: 'Lekton', sans-serif;
}

.about_content .about_text a{
    padding: 16px 32px;
    border-radius: 10px;
    background-color: #be75dd;
    color: white;
    width: fit-content;
}

/* More */

.moreGalery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.moreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: 'Lekton', sans-serif;
}


.moreCard i {
    color: #be75dd;
    font-size: 2rem;
    border: 1px solid #be75dd;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.moreGalery{
    margin-top: 40px;
}


.connect .moreCard i{
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
}

.connect > p{
    margin: 40px 0;
    text-align: center;
}

.connect .moreCard a{
    text-decoration: underline;
}


footer{
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    color: #a2a2a2;
}


@media (max-width: 1200px) {
    .welcomeArticle h2{
        font-size: 2rem;
    }

    .projectCell{
        width: 100%;
    }

    .projectsLibrary{
        gap: 50px;
    }


    .ongoingProject{
        flex-direction: column;
        gap: 20px;
    }

    .onGoingText{
        width: 100%;
    }

    .onGoingText h1 {
        left: 80%;
    }
}

@media (max-width: 969px){
    .about_content{
        flex-direction: column;
        align-items: center;
    }

    .about_content .about_text{
        width: 100%;
    }

    .about_content .about_text a{
        margin-inline: auto;
    }
}

@media (max-width: 650px) {
    .welcomeArticle figure{
        display: none;
    }

    .welcomeArticle_text{
        width: 100%;
        text-align: center;
    }

    .welcomeArticle h2{
        text-align: center;
    }

    .welcomeArticle_text a{
        margin-inline: auto;
    }

    /*NAV BAR*/

    header nav{
        position: fixed;
        z-index: 12;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: whitesmoke;
        padding-top: 20px;
        transition: left 0.5s ease-in;
    }
    
    
    header nav ul {
        flex-direction: column;
        gap: 40px;
        padding-top: 100px;
    }
    
    header nav ul li{
        font-size: 3rem;
        text-align: center;
    }
    
    header nav > i{
        display: block !important;
        font-size: 1.5rem;
        position: absolute;
        right: 40px;
    }


    header .fa-bars{
        display: block !important;
        font-size: 1.5rem;
    }



    .onGoingText h1 {
        left: 70%;
    }



    .moreGalery{
        flex-wrap: wrap;
    }
    .moreGalery .moreCard{
        width: 45%;
    }
}




@media (max-width: 400px){
    .welcomeArticle h2{
        font-size: 1.5rem;
    }

    .onGoingText h1 {
        left: 55%;
    }
}



/* Project Info */



.projectInfo{
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 9999;
}


.projectInfo_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5%;  
    position: relative;
}


.projectInfo_header i{
    position: absolute;
    left: 0;
    font-size: 1.5rem;
}


.projectInfo_mainSection{
    display: flex;
    gap: 20px;
    padding: 40px 0;
}


.projectInfo_mainSection figure, .projectInfo_mainSection > section{
    width: 50%;
}


.logoLangages{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoLangages img{
    width: 30px;
}


.infoSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 60px 0;
}


.infoSection > div{
    width: 60%;
}


.infoSection> figure {
    width: 35%;
}