.errorMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    background-color: rgb(251, 81, 81);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    color: whitesmoke;
    animation: messageAnimation 3s ease-out forwards;
}

.passedMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    background-color: rgb(21, 164, 49);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    color: whitesmoke;
    animation: messageAnimation 3s ease-out forwards;
}

@keyframes messageAnimation {
    0% {
        top: -40px;
        opacity: 0;
    }

    10% {
        top: 20px;
        opacity: 1;
    }

    90% {
        top: 20px;
        opacity: 1;
    }

    100% {
        top: -40px;
        opacity: 0;
    }
}